PORT=5000
MONGO_URI=mongodb+srv://Admin:push1234@cluster0.z0nhv4d.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretjwt
ADMIN_EMAIL=admin@karyakosha.test
ADMIN_PASSWORD=Admin@123
UPLOAD_DIR=./uploads

